---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="authors">
  <main class="flex-column items-center justify-center px-4">
    <h1 class="mt-10 text-center text-3xl text-gray-700">Blog</h1>
    <p class="mb-12 mt-5 text-center text-lg text-gray-700">
      Get a sneak peek of the insights from our book through these articles.
    </p>

    <a
      href="/blog/learning-from-failure"
      class="-hover:translate-y-1 group mx-auto my-8 block max-w-xl overflow-hidden rounded-lg bg-white p-6 text-gray-700 shadow-md transition hover:shadow-lg"
    >
      <h2 class="mb-2 text-2xl font-medium group-hover:underline">
        Learning from Failure: What Unsuccessful Startups Can Teach Us
      </h2>
      <p>
        In the exhilarating world of startups, success stories often steal the
        spotlight, leaving valuable lessons from failures in the shadows. Yet,
        understanding why startups fail is crucial for entrepreneurs who aim to
        navigate the challenging path of building a successful business.
      </p>
    </a>

    <a
      href="/blog/building-a-winning-team"
      class="-hover:translate-y-1 group mx-auto my-8 block max-w-xl overflow-hidden rounded-lg bg-white p-6 text-gray-700 shadow-md transition hover:shadow-lg"
    >
      <h2 class="mb-2 text-2xl font-medium group-hover:underline">
        Building a Winning Team: Insights from Successful Startups
      </h2>
      <p>
        Behind every successful startup is a dynamic team that drives innovation
        and growth. The journey from a nascent idea to a thriving business is
        rarely a solo endeavor; it requires a group of dedicated individuals who
        can work together effectively.
      </p>
    </a>
  </main>
</Layout>
