---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import book_placeholder from './public/book-placeholder.jpg';
---

<Layout title="authors">
	<main class="flex-column justify-center items-center">
		<h1 class="text-3xl text-center text-gray-700 mt-10">Picture of all the authors</h1>
		<p class="text-center text-gray-700 mt-5">Subtitle Goes Here</p>
		<div class=" w-80 mb-20 mt-10 shadow-sm mx-auto">
			<Image src={book_placeholder} alt="Picture of the class" class="w-full" />
		</div>
		<div class="text-center text-gray-700 mx-[20%]">
			<p>
			</p>
		</div>

	</main>
</Layout>
			