---
import Layout from '../layouts/Layout.astro';
---

<Layout title="book">
	<main class="flex-column justify-center items-center">
		<h1 class="text-3xl text-center text-gray-700 mt-10">Why Altavista Failed and Google Succeeded</h1>
	</main>
</Layout>


