---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import book_placeholder from "../assets/book-placeholder.jpg";
---

<Layout title="book">
  <main class="flex-column items-center justify-center">
    <h1 class="mt-10 text-center text-3xl text-gray-700">
      How to Be a Futurist
    </h1>
    <p class="mt-5 text-center text-gray-700">Subtitle Goes Here</p>
    <div class="mx-auto mb-20 mt-10 w-80 shadow-sm">
      <Image src={book_placeholder} alt="Picture of the book" class="w-full" />
    </div>
    <div class="mx-[20%] text-center text-gray-700">
      <p>
        "<em>How to Be a Futurist</em> is a book about the future of thinking.
        It is a book about the future of thinking about the future. It is a book
        about the future of thinking about the future of thinking about the
        future. It is a book about the future of thinking about the future of
        thinking about the future of thinking about the future. It is a book
        about the future of thinking about the future of thinking about the
        future of thinking about the future of thinking about the future. It is
        a book about the future of thinking about the future of thinking about
        the future of thinking about the future of thinking about the future of
        thinking about the future.""
      </p>
    </div>
  </main>
</Layout>
