<nav class="bg-white text-gray-700 shadow">
  <div class="relative flex h-16 items-center justify-between px-5">
    <div class="flex flex-shrink-0 items-center">
      <a href="/" class="text-xl font-medium">Decoding Success</a>
    </div>

    <!-- Navigation Links -->
    <div class="hidden md:block">
      <div class="ml-10 flex items-baseline space-x-4">
        <a
          href="/about-authors"
          class="rounded-md px-3 py-2 text-sm font-medium transition hover:bg-gray-100"
        >
          About The Authors
        </a>
        <a
          href="/blog"
          class="rounded-md px-3 py-2 text-sm font-medium transition hover:bg-gray-100"
        >
          Blog
        </a>
      </div>
    </div>

    <!-- Hamburger menu -->
    <div id="menu" class="md:hidden">
      <span class="material-symbols-outlined cursor-pointer"> menu</span>
    </div>
  </div>
  <!-- Responsive Navigation Links -->
  <div class="hidden text-right md:hidden" id="responsiveMenu">
    <a
      href="/about-authors"
      class="block rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-100"
    >
      About The Authors
    </a>
    <a
      href="/blog"
      class="block rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-100"
    >
      Blog
    </a>
  </div>
</nav>

<script is:inline>
  function addListeners() {
    const hamburgerMenu = document.getElementById("menu");
    if (hamburgerMenu) hamburgerMenu.addEventListener("click", toggleMenu);
  }

  /**
   * Toggles the responsive menu for the navbar
   */
  function toggleMenu() {
    const responsiveMenu = document.getElementById("responsiveMenu");

    if (responsiveMenu) {
      responsiveMenu.classList.toggle("hidden");
    }
  }

  addListeners();

  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", addListeners);
</script>
