<nav class="fixed bg-white text-gray-700 shadow w-full">
  <div class="relative flex h-12 items-center justify-between px-5"> <!-- Reduced height -->
    <div class="flex flex-shrink-0 items-center">
      <a href="/" class="text-xl font-medium text-003262">How to Be a Futurist</a>
    </div>

    <!-- Hamburger menu always visible -->
    <div id="menu" class="relative">
      <span class="material-symbols-outlined cursor-pointer text-FDB515">menu</span>

      <!-- Dropdown menu positioned below the hamburger icon -->
      <div class="hidden absolute top-full right-0 bg-white shadow-md w-48" id="responsiveMenu">
        <a href="/about-authors" class="block px-3 py-2 text-sm font-medium text-003262 hover:bg-gray-100">About The Authors</a>
        <a href="/blog" class="block px-3 py-2 text-sm font-medium text-003262 hover:bg-gray-100">Blog</a>
      </div>
    </div>
  </div>
</nav>

<script>
  function addListeners() {
    const hamburgerMenu = document.getElementById("menu");
    if (hamburgerMenu) hamburgerMenu.addEventListener("click", function() {
      const responsiveMenu = document.getElementById("responsiveMenu");
      if (responsiveMenu) {
        responsiveMenu.classList.toggle("hidden");
      }
    });
  }

  addListeners();

  // Reattach event listener on navigation transitions
  document.addEventListener("astro:after-swap", addListeners);
</script>

<style>
  nav.fixed {
    position: fixed;
    top: 0;
    width: 100%; /* Full width */
    z-index: 1100; /* Ensure it stays on top */
    background-color: #003262; /* Solid white background */
  }

  .text-FDB515 {
    color: #FDB515;
  }

  .text-003262 {
    color: #003262;
  }
</style>
